<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ZPDer ADMIN</title>

<link href="<%=config.get('app.cdn_url')%>/londinium/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/londinium-theme.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/styles.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/icons.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/css/londinium-ext.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script></head>
<!--
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 -->
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/charts/sparkline.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uniform.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/select2.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/inputmask.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/autosize.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/inputlimit.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/listbox.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/multiselect.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/validate.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/tags.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/switch.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uploader/plupload.full.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uploader/plupload.queue.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/wysihtml5/toolbar.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/daterangepicker.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/fancybox.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/moment.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/jgrowl.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/datatables.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/colorpicker.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/fullcalendar.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/timepicker.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/collapsible.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/application.js"></script>

<link rel="stylesheet" href="//releases.flowplayer.org/5.5.2/skin/minimalist.css" >
<script src="//releases.flowplayer.org/5.5.2/flowplayer.min.js"></script>
<!-- Include lines below to support multiple resolutions via quality selector plugin -->
<link rel="stylesheet" href="//flowplayer.org/drive/quality-selector.css">
<script src="//flowplayer.org/drive/quality-selector.js"></script>


</head>

<body class="sidebar-wide">

	<!-- Navbar -->
	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="<%=config.get('app.cdn_url')%>/images/logos/2/xcutLogoS_03.png" alt="Londinium"></a>
			<a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
				<span class="sr-only">Toggle navbar</span>
				<i class="icon-grid3"></i>
			</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
				<span class="sr-only">Toggle navigation</span>
				<i class="icon-paragraph-justify2"></i>
			</button>
		</div>

	</div>
	<!-- /navbar -->


	<!-- Page container -->
 	<div class="page-container">


		<!-- Sidebar -->
		<div class="sidebar collapse">
			<div class="sidebar-content">

				<!-- User dropdown -->
				<div class="user-menu dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="">
						<div class="user-info">
							ADMIN <span>ZPDer</span>
						</div>
					</a>
									</div>
				<!-- /user dropdown -->


				<!-- Main navigation -->
				<ul class="navigation">
					<li class="<%= (active_page == 'users' ? 'active' : '')%>"><a href="/admin/users"><span>Users</span> <i class="icon-people"></i></a></li>
					<li class="<%= (active_page == 'packages' ? 'packages' : '')%>"><a href="/admin/packages"><span>Packages</span> <i class="icon-people"></i></a></li>
				</ul>
				<!-- /main navigation -->

			</div>
		</div>
		<!-- /sidebar -->


		<!-- Page content -->
	 	<div class="page-content">

			<%-body -%>


	        <!-- Footer -->
	        <div class="footer clearfix">
		        <div class="pull-left">&copy; 2016. ZPDer</div>
	        	<div class="pull-right icons-group">
	        		<a href="#"><i class="icon-screen2"></i></a>
	        		<a href="#"><i class="icon-balance"></i></a>
	        		<a href="#"><i class="icon-cog3"></i></a>
	        	</div>
	        </div>
	        <!-- /footer -->


		</div>
		<!-- /page content -->


	</div>
	<!-- /page container -->

</body>
</html>
